# Ignore target folder which contains compiled artifacts
target/

# Ignore Maven wrapper files
.mvn/
.mvnw
.mvnw.cmd

# Ignore logs or temporary files
*.log
*.tmp
*.bak

# Ignore local IDE files (e.g., IntelliJ, Eclipse)
.idea/
*.iml
*.project
*.classpath

# Ignore Git files
.git/
.gitignore

# Ignore Dockerfile if it's used in the build context
Dockerfile
